title: Commit Messages
description: Reflections on code, craft, and the future of software
author: Andrey Samsonov
url: "https://msg.samsonov.io"
baseurl: ""

permalink: /:title/

markdown: kramdown
highlighter: rouge

kramdown:
  input: GFM
  syntax_highlighter: rouge

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
